{% extends 'temp/home.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>USER REGISTER</title>
</head>
<body>
<center>

	<h1>USER REGISTER</h1>
<form method="post">
    {% csrf_token %}
	<table>
		<tr>
{#			<td>NAME</td>#}
		<td><input type="text" name="name" placeholder="Full Name" class="form-control" required=""></td>
	</tr>
        <TR>
{#            <td>AGE</td>#}
            <td><input type="number" name="age" placeholder="Age" required="" class="form-control"></td>
        </TR>
	<tr>
{#			<td>GENDER</td>#}
			<td><input type="radio" name="gen" value="male" checked>Male
				<input type="radio" name="gen" value="female" >Female
                <input type="radio" name="gen" value="others" >Others
            </td>

		</tr>
			<tr>
{#			<td>ADDRESS</td>#}
                <td><TEXTAREA name="address" required="" placeholder="Address"  class="form-control"></TEXTAREA></td>
            </tr>
		<tr>
{#			<td>HEIGHT</td>#}
		<td><input type="text" name="height"  placeholder="Height" required="" class="form-control"></td>
        </tr>
        <tr>
{#			<td>WEIGHT</td>#}
		<td><input type="text" name="weight" required=""  placeholder="Weight" class="form-control"></td>
        </tr>
        <tr>
{#			<td>PHYSICAL</td>#}
		<td><input type="text" name="physical" required="" placeholder="Physical Diasability" class="form-control"></td>
        </tr>
        <tr>
{#			<td>CONTACT</td>#}
		<td><input type="text" name="contact" required="" placeholder="Contact"  pattern="[0-9]{10}" class="form-control"></td>
        </tr>
        <tr>
{#			<td>EMAIL ID</td>#}
		<td><input type="email" name="email" required="" placeholder="E-Mail" class="form-control"></td>
        </tr>
        <tr>
{#			<td>PASSWORD</td>#}
		<td><input type="password" name="pass" required="" placeholder="Password" class="form-control"></td>
        </tr>
        <tr>
{#			<td></td>#}
			<td><input type="submit" value="Register" class="btn-primary form-control"></td>
		</tr>
		</table>
    {% if msg %}
    <script>
        {% if msg == '0' %}
            alert('Successfully registered');
        {% else %}
            alert('User Exist');
        {% endif %}
    </script>
    {% endif %}
	</form>
</center>
</body>
</html>
{% endblock %}