{% extends 'temp/User.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>VIEW TURF</title>
	</head>
<body><center><h1>VIEW TURF</h1>
	<table border="1" class="table table-striped" style="width: 70%">
		<tr>
			<th>Name</th>
			<th>Place</th>
			<th>Email Id</th>
			<th>Contact</th>
            <th>Amount</th>

		</tr>
        {% for i in x %}
		<tr>
			<td>{{ i.name }}</td>
			<td>{{ i.place }}</td>
			<td>{{ i.email }}</td>
			<td>{{ i.contactno }}</td>
            <td>{{ i.amount }}</td>
            <td><a href="/turf_register/bookturf/{{ i.turf_id }}/#ff" class="btn btn-outline-success">Book Now</a> </td>
            <td><a href="/turf_register/map/{{ i.turf_id }}/#ff" class="btn btn-outline-primary">View Map</a> </td>


{#			<td><a href="{% url 'aprv' idd=i.trainer_id %}">approve</a></td>#}
{#			<td><a href="{% url 'rjct' idd=i.trainer_id %}">reject</a></td>#}
		</tr>
         {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}