{% extends 'temp/User.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>BOOKING</title>
</head>
<body>
<center>
	<h1>TURF BOOKING</h1>
<form method="post">
    {% csrf_token %}
	<table>
		<tr>
			<td>CLUB NAME</td>
		<td><SELECT name="cl" required="">

         <option>-----SELECT-----</option>
        {% for i in x %}


            <option value="{{ i.club_id }}">{{ i.clubname }}</option>
            {% endfor %}
        </SELECT></td>
	</tr>
    <tr>
			<td>TURF NAME</td>
		<td><SELECT name="tu" required="">
        <option>-----SELECT-----</option>
        {% for i in y %}
            <option value="{{ i.turf_id }}">{{ i.name }}</option>
            {% endfor %}
        </SELECT></td>
	</tr>

		<tr>
			<td>LOCATION</td>
		<td><SELECT name="lo" required="">
        <option>-----SELECT-----</option>
        {% for i in z %}
            <option value="{{ i.location_id }}">{{ i.latitude }}</option>
            {% endfor %}
        </SELECT></td>
</tr>
<tr>
			<td>TIME SLOT</td>
		<td><SELECT name="ti" required="">
        <option>-----SELECT-----</option>
            {% for i in w %}
            <option value="{{ i.time_id}}">{{ i.time_info }}</option>
            {% endfor %}
        </SELECT></td>
</tr>


			<td></td>
			<td><input type="submit" name="submit" value="submit"></td>
		</tr>
		</table>
  {% if msg %}
    <script>
        alert('successfully booked')
    </script>
    {% endif %}
	</form>
</center>
</body>
</html>
{% endblock %}