{% extends 'temp/User.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>VIEW NOTIFICATION</title>
	</head>
<body><center><h1>VIEW NOTIFICATION</h1>
	<table border="1" class="table table-striped">
		<tr>
			<th>Club Name</th>
			<th>Time</th>
			<th>Date</th>
			<th>Notification</th>
		</tr>
        {% for i in x %}
		<tr>
			<td>{{ i.club.clubname }}</td>
			<td>{{ i.time }}</td>
			<td>{{ i.date }}</td>
			<td>{{ i.notification }}</td>
		</tr>
         {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}